body {
    background-color: lightslategrey;
}

#titulo1{
    text-align: center;
    color: lightsalmon;
    font-size: 2.3rem;
}

#titulo2{
    text-align: center;
    color: lightsalmon;
    font-size: 2.3rem;
}

#titulo3{
    text-align: center;
    color: lightsalmon;
    font-size: 2.3rem;
}

#titulo4{
    text-align: center;
    color: lightsalmon;
    font-size: 2.3rem;
}

div {
    text-align: center;
}

a {
    text-decoration: none;
}
